/* Profile Style */

.profile .avatar {
  border-radius: 0%;
}

.profile h1 {
  color: #1460dfff;
  font-weight: bold;
}

/* List Page Style */

#list-page {
  margin: 50px auto;
}

#list-page .title {
  font-weight: bold;
}

/* Single Page Style */

#single .title {
  font-weight: bold;
}

#single h2 {
  margin-top: 70px;
  margin-bottom: 40px;
  padding-left: 10px;
  font-weight: bold;
  border-left: 0.4rem solid #1e90ff;
  border-bottom: 0.12rem solid #1e90ff;
}

#single h3 {
  margin-top: 50px;
  font-weight: bold;
  border-bottom: 0.08rem solid #1e90ff;
}

#single thead th:empty {
  display: none;
}

#single .tags {
  margin-top: 60px;
}

/* Section Style */

#section .title {
  font-size: 28px;
  font-weight: bold;
  line-height: 48px;
}

#section h2 {
  margin-top: 70px;
  margin-bottom: 40px;
  padding-left: 10px;
  font-weight: bold;
  border-left: 0.4rem solid #1e90ff;
  border-bottom: 0.12rem solid #1e90ff;
}

/* Footer Style */
#footer .links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

#footer .links a {
  color: #bbbbbb;
}

#footer .links a:hover {
  color: #5badf0;
  text-decoration: underline;
}
